[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
pymysql = "*"
requests = "*"
pipenv = "*"
shub = "*"
"urllib3" = "==1.23"
scrapyd-client = "*"
pyopenssl = "*"

[dev-packages]

[requires]
python_version = "3.6"
